//
// Forms
//
// Form group
.form-group {
    label {
        font-size: 13px;
        font-weight: $form-label-font-weight;
        color: $dark-75;
        margin-bottom: 3px;
    }
    .invalid-feedback,
    .valid-feedback {
        font-size: $form-feedback-font-size;
        font-weight: $form-feedback-font-weight;
    }
    .form-text {
        font-size: $form-text-font-size;
        font-weight: $form-text-font-weight;
    }
    .solid-invalid {
        background-color: $white !important;
        border: 1px solid $danger-hover !important;
        ~.is-invalid-hide {
            display: none !important;
        }
        .select__control {
            border: 0;
        }
    }
}

// Form control
.form-control {
    // Readonly state
    &:not(textarea) {
        height: 40px !important;
    }
    &[readonly] {
        background-color: $input-readonly-bg;
    }
    // Pill style
    &.form-control-pill {
        border-radius: $input-line-height;
        &.form-control-sm {
            border-radius: $input-line-height-sm;
        }
        &.form-control-lg {
            border-radius: $input-line-height-lg;
        }
    }
    @if $form-validation-input-shadow==false {
        &:active,
        &.active,
        &:focus,
        &.focus {
            box-shadow: none !important;
        }
    }
    // Solid style
    &.form-control-solid {
        background-color: $input-solid-bg;
        border-color: $input-solid-bg;
        @include placeholder($input-solid-placeholder-color);
        color: $input-solid-color;
        transition: $transition-input;
        &:active,
        &.active,
        &:focus,
        &.focus {
            background-color: $input-solid-bg-focus;
            border-color: $input-solid-bg-focus;
            color: $input-solid-color;
            transition: $transition-input;
        }
    }
}

// Hide Form Control Icon On Validation
.form-control-iconless {
    background-image: none;
    .form-control {
        background-image: none;
    }
}

// Placeholder colors
.placeholder-dark-50 {
    @include placeholder($dark-50);
}

.placeholder-dark-75 {
    @include placeholder($dark-75);
}

.placeholder-white {
    @include placeholder($white);
}

// Custom inputs
.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    margin-bottom: 0;
    &.custom-file-show {
        .custom-file-current {
            display: flex;
        }
        .custom-file-label {
            span {
                opacity: 0;
            }
        }
    }
    &.loading {
        pointer-events: none;
        .custom-file-loading {
            display: flex;
        }
        .custom-file-current {
            display: none;
        }
        .custom-file-label {
            span {
                opacity: 0;
            }
        }
    }
    .custom-file-input {
        position: relative;
        z-index: 2;
        width: 100%;
        height: calc(1.5em + 1.3rem + 2px);
        margin: 0;
        overflow: hidden;
        opacity: 0;
    }
    .custom-file-label {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: calc(1.5em + 1.3rem + 2px);
        padding: 0.65rem 1rem;
        overflow: hidden;
        font-weight: 400;
        line-height: 1.5;
        color: #3F4254;
        background-color: #ffffff;
        border: 1px solid #E4E6EF;
        border-radius: 0.42rem;
        -webkit-box-shadow: none;
        box-shadow: none;
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            display: block;
            width: 75px;
            height: calc(1.5em + 1.3rem);
            padding: 0.65rem 1rem;
            line-height: 1.5;
            color: #3F4254;
            content: "Browse";
            background-color: #F3F6F9;
            border-left: inherit;
            border-radius: 0 0.42rem 0.42rem 0;
        }
    }
    .custom-file-current {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 10px;
        width: calc(100% - 75px);
        display: none;
        cursor: pointer;
        span {
            width: calc(100% - 25px);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        i {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .custom-file-loading {
        position: absolute;
        top: 0;
        height: 100% !important;
        z-index: 2;
        width: calc(100% - 75px) !important;
        display: none;
        align-items: center;
        padding-left: 12px;
        font-size: 13px;
    }
}

.custom-file-input:focus~.custom-file-label {
    box-shadow: none !important;
}

.custom-file-label {
    text-align: left;
    &:after {
        float: left;
    }
}

// Input Group
.input-group {
    .form-control.is-valid+.input-group-append,
    .form-control.is-invalid+.input-group-append {
        margin-left: 0;
    }
    .input-group-prepend+.form-control.is-valid,
    .input-group-prepend+.form-control.is-invalid {
        margin-left: 1px;
    }
    // Sizing
    i {
        line-height: 0;
        font-size: 1.3rem;
        &:after,
        &:before {
            line-height: 0;
        }
    }
    .svg-icon {
        line-height: 0;
    }
    &.input-group-sm {
        i {
            line-height: 0;
            font-size: 1rem;
        }
    }
    &.input-group-lg {
        i {
            line-height: 0;
            font-size: 1.4rem;
        }
    }
    // Solid style
    &.input-group-solid {
        align-items: center;
        background-color: $input-solid-bg;
        @include border-radius($input-border-radius);
        &.active,
        &.focus {
            background-color: $input-solid-bg-focus;
            border-color: $input-solid-bg-focus;
            color: $input-solid-color;
            transition: $transition-input;
        }
        .form-control:not(.not) {
            @include input-reset();
            &.form-control-solid {
                &:active,
                &.active,
                &:focus,
                &.focus {
                    background-color: $input-solid-bg-focus;
                    border-color: $input-solid-bg-focus;
                    color: $input-solid-color;
                    transition: $transition-input;
                }
            }
        }
        &.input-group-sm {
            @include border-radius($input-border-radius-sm);
        }
        &.input-group-lg {
            @include border-radius($input-border-radius-lg);
        }
        .input-group-prepend,
        .input-group-append,
        .input-group-text {
            background-color: transparent;
            border: 0;
            padding-top: 0;
            padding-bottom: 0;
            .btn-secondary {
                border: 0 !important;
            }
        }
        .input-group-prepend~.form-control {
            padding-left: 0 !important;
        }
    }
}

// Validation
.validated {
    .valid-feedback,
    .invalid-feedback {
        display: block;
    }
}

// Input icon
.input-icon {
    position: relative;
    span {
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc( #{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border});
        i {
            line-height: 0;
            color: $dark-50;
            &:after,
            &:before {
                line-height: 0;
            }
        }
        .svg-icon {
            @include svg-icon-color($dark-50);
            @include svg-icon-size(24px);
        }
    }
    .form-control {
        padding-left: calc( #{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border});
    }
    &.input-icon-right {
        span {
            right: 0;
            left: auto;
        }
        .form-control {
            padding-left: $input-btn-padding-x;
            padding-right: calc( #{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border});
        }
    }
}

.input-group-position {
    position: relative;
    .text {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }
}

//React Select
.select-control {
    &.is-invalid {
        @include border-radius($input-border-radius);
    }
    .select__value-container {
        .select__input-container {
            .select__input {
                height: auto;
                padding: 0px !important;
            }
        }
    }
    &.border-primary {
        .select__control {
            border-color: #3699FF !important;
        }
    }
    .select__control {
        border-color: #eaeaea;
        min-height: 40px;
        &:hover {
            border-color: #9bccff;
        }
        .select__indicator-separator {
            background-color: #eaeaea;
        }
        .css-tlfecz-indicatorContainer {
            color: #eaeaea;
        }
    }
    &.select-control-solid:not(.solid-invalid) {
        .select__control {
            background-color: $input-solid-bg;
            border-color: $input-solid-bg;
            @include placeholder($input-solid-placeholder-color);
            color: $input-solid-color;
        }
    }
    &.select-control-lg {
        .select__control {
            min-height: calc(1.5em + 1.65rem + 2px);
            padding: 4px 0;
            .select__value-container {
                padding: 2px 15px;
                .select__single-value,
                .select__placeholder {
                    @include font-size($input-font-size-lg);
                }
            }
        }
    }
    .select__menu {
        z-index: 10;
        .select__group {
            .select__group-heading {
                font-size: 12px;
                font-weight: 700;
            }
        }
    }
}

// Textarea reset resize
.resize-none {
    resize: none;
}

//hide controls number
.hide-control[type="number"]::-webkit-inner-spin-button,
.hide-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hide-control[type="number"] {
    -moz-appearance: textfield;
}

.datatable-pager-inputs {
    height: 2.25rem;
    width: 3.5rem;
    text-align: center;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    border-radius: 0.42rem !important;
    background-color: #ecf1f6;
    border-color: #ecf1f6;
    color: #7e8299;
}

.checkbox-list {
    .radio:not(:last-child) {
        margin-bottom: 15px;
    }
}

.radio {
    margin: 0;
    display: flex;
    padding: 0;
    cursor: pointer;
    >input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked {
            ~span {
                background-color: #3699FF;
                &:after {
                    border-color: #ffffff;
                    display: block;
                }
            }
        }
    }
    >span {
        height: 18px;
        width: 18px;
        background-color: #EBEDF3;
        border: 1px solid transparent;
        background-color: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        border-radius: 0.42rem;
        margin-right: 0.75rem;
        &:after {
            content: "";
            border-color: transparent;
            border-style: solid;
            border-width: 0 2px 2px 0/*rtl:ignore*/
            !important;
            -webkit-transform: rotate(45deg)/*rtl:ignore*/
            ;
            transform: rotate(45deg)/*rtl:ignore*/
            ;
            margin-top: -2px;
            width: 5px;
            height: 10px;
        }
    }
    .text {
        font-weight: 500;
    }
    .location {
        font-weight: 400;
        color: #B5B5C3;
        font-size: 0.9rem;
    }
}

.switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    height: auto !important;
    padding-left: 0 !important;
    line-height: auto !important;
    label {
        font-size: 1rem;
        font-weight: 400;
        color: #3F4254;
    }
    input:empty {
        margin-left: -999px;
        height: 0;
        width: 0;
        overflow: hidden;
        position: absolute;
        opacity: 0;
        &:checked {
            ~span {
                &::after {
                    opacity: 1;
                    color: #ffffff;
                    background-color: #3699FF;
                    margin-left: 16px;
                }
            }
        }
    }
    span {
        display: inline-block;
        position: relative;
        float: left;
        width: 1px;
        text-indent: 0;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 2px 0;
        height: 18px;
        width: 33px;
        border-radius: 12px;
        &::before,
        &::after {
            position: absolute;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            top: 0;
            bottom: 0;
            left: 0;
            content: " ";
            -webkit-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
        }
        &::before {
            background-color: #EBEDF3;
            width: 33px;
            border-radius: 12px;
        }
        &::after {
            background-color: #ffffff;
            opacity: 0.7;
            border-radius: 12px;
            height: 14px;
            width: 14px;
            top: 2px;
            bottom: 2px;
            margin-left: 2px;
            font-size: 0.55em;
            text-align: center;
            vertical-align: middle;
        }
    }
}