@each $name,
$value in $heights-and-widths {
    .p-#{$name} {
        padding: $value !important;
    }
    .pl-#{$name} {
        padding-left: $value !important;
    }
    .pr-#{$name} {
        padding-right: $value !important;
    }
    .pb-#{$name} {
        padding-bottom: $value !important;
    }
    .pt-#{$name} {
        padding-top: $value !important;
    }
    .m-#{$name} {
        margin: $value !important;
    }
    .ml-#{$name} {
        margin-left: $value !important;
    }
    .mr-#{$name} {
        margin-right: $value !important;
    }
    .mb-#{$name} {
        margin-bottom: $value !important;
    }
    .mt-#{$name} {
        margin-top: $value !important;
    }
}